*
{
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box ;
    color       : #fc0;
    background-color    : #111;
    font-family: 'Press Start 2P', cursive;
}

body 
{
    height      : 100vh;
}

.header 
{
    position    : relative;
    //border      : 2px solid red;
    width       : max-content;
    margin      : 3rem auto;
}

.h1 
{
    z-index            : 10;
    border             : 1px solid  #333;
    box-shadow         : 0 0 4px 2px #fc0 ;
    border-radius      : .5rem; 
    width              : max-content;
    padding            : 1rem;
    margin             : .5rem auto;
    background-color   : #333;
    text-transform     : uppercase;
    animation          : move 1s  ease-in 1s  forwards ;
    z-index             : 10;
    font-size           : 24px;
}

.s1,
.s2
{
    width               : .15rem;
    height              : 7rem;
    background-color    : #fc0;
    position            :absolute ;
    top                 : -70%;
}

.s1
{
    left                : 30%;
}
.s2
{
    left                : 70%;
}





@keyframes move 
{
    100% 
    {
        transform       : rotate(8deg);
    }
}

.h2 
{
    border              : 2px solid white;
    margin              : 2rem 0; 
    width               : max-content;
    padding             : .5rem;
    background-color    : #333;
    border             : 1px solid  #333;
    box-shadow         : 0 0 2px 2px #fc0 ;
    border-radius      : .5rem; 
    transform           : translateY(-3rem) ;
    animation           : joda 3s 2.5s ease-out forwards;
    opacity: 0;
    font-size           :16px;
}


@keyframes joda 
{

    100%
    {
        opacity: 1;
        transform: translateY(15px);
    }
}

.app
{
    width           : max-content;
    margin          : 5rem auto;
    padding         : 1rem;
}





 input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=number] { -moz-appearance:textfield; }
      
      
       input[type=date]::-webkit-inner-spin-button, 
      input[type=date]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
      input[type=date] { -moz-appearance:textfield; }


.form 
{
    padding             : 1rem;
    position            : relative;
    //border              : 2px solid white;
    display             : flex;
    flex-direction      : column;
}


.input 
{
     border             : none;
     outline            : none;
     border-bottom      : 2px solid #333;
     padding            : .2rem;
     display            : block;
}

.submit 
{
    border              : none;
    width               : max-content;
    margin              : 1rem auto;
    outline             : none;
    padding             : .5rem;
    background-color    : #333;
    border-radius       : .5rem;
    box-shadow         : 0 0 2px .5px #fc0 ;
    cursor              : pointer;
}


.label 
{
    position            : absolute;
    font-size           : .6rem;
    top                 : 1rem;
    left                : 1rem;
    color               : #444;
    transition          : all .5s ease-in-out;
    cursor              : text;
}

.up
{
    top             : -.5rem;
}


.heart 
{
    width           : max-content;
    margin          : .5rem ;
}

.txt
{
    
    width           : max-content;
    margin          : 1rem auto;
    font-size       : .8rem;
}


@media(max-width:450px)
{
    .h2,
    .submit,
    .input 
    {
        font-size           : 12px;
    }


    .submit 
    {
        display         : block;
        margin          : .7rem auto;
    }
}


.h 
{
    animation           : beat 1.5s infinite 3s ease-in-out ;
}


@keyframes beat 
{
    to
    {
        transform       : scale(1.1)
    }
}
